@{
    Layout = ViewBag.Layout;
}

<h2>Dados Médicos</h2>


<form method="post" action="~/Consulta/CadastrarConsulta" enctype="multipart/form-data">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="crm">CRM:</label>
            <input class="form-control" id="crm" type="text" name="medico.crm" value="@ViewBag.CRM" readonly />
        </div>

        <div class="form-group col-md-6">
            <label for="nome">Nome:</label>
            <input class="form-control" style="text-transform:uppercase" id="nome" type="text" name="medico.nome" value="@ViewBag.Nome" readonly />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ID">Identificação:</label>
            <input class="form-control" id="dt_nasc" type="text" name="medico.id_funcionario" required value="@ViewBag.ID" readonly />
        </div>
        <div class="form-group col-md-6">
            <label for="especialidade">Especialidade:</label>
            <input class="form-control" id="especialidade" type="text" name="usuario.rua" value="@ViewBag.Especialidade" readonly />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <a href="javascript:window.history.go(-1)" class="form-control btn btn-sm btn-danger ml-md-2">Voltar</a>
        </div>
    </div>
</form>


