@{
    Layout = ViewBag.Layout;
}


<h2>Informações do Paciente Pelo Cartão</h2>

<div>

    <label>Identificação:</label>

    <div>
        <input type="button" title="Delete" class="btn btn-sm btn-success" value="Buscar Por Cartão" onclick="location.href='@Url.Action("ResultadoBuscaPaciente", "Paciente")'" />
    </div>

</div>

