@{
    Layout = ViewBag.Layout;
}

<h2>Alterar Senha</h2>

<form method="post" action="~/Configuracoes/CadastrarNovaSenha" enctype="multipart/form-data">

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="crm">Nova Senha:</label>
            <input class="form-control" id="crm" type="password" name="senha" value="@ViewBag.ID" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-sm btn-success form-control">Salvar</button>
        </div>
       
        <div class="form-group col-md-3">
            <a href="javascript:window.history.go(-1)" class="form-control btn btn-sm btn-danger ml-md-2">Voltar</a>
        </div>
    </div>
</form>


